@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Akkurat";
  src: url("../fonts/Akkurat.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Stardom";
  src: url("../fonts/Stardom-Regular.woff") format("woff");
  src: url("../fonts/Stardom-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Amulya";
  src: url("../fonts/Amulya-Bold.woff") format("woff");
  src: url("../fonts/Amulya-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

:root {
  --text-color: #ffffff;
  --background: #000000;
}

body {
  color: var(--text-color);
  background: var(--background);
  font-family: "Akkurat", Arial, Helvetica, sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f186;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000bd;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00000096;
}
